{{#if this.session.isAuthenticated}}

  <div
    class="absolute top-0 left-0 right-0 flex items-center justify-center h-16 p-4 font-medium border-b dark:border-slate-600 font-display text-slate-600 dark:text-slate-300"
  >
    <LinkTo @route="authenticated.dashboard" class="mr-auto">
      <Icon @name="thermostat" />
    </LinkTo>
    <LinkTo @route="authenticated.dashboard">
      {{this.title}}
    </LinkTo>
    <button
      {{on "click" this.toggleMenu}}
      class="flex items-center justify-center ml-auto"
    >
      <Icon @name={{if this.showMenu "close" "menu"}} />
    </button>
  </div>
  <div
    class="absolute bottom-0 left-0 right-0 z-50 flex flex-col bg-white dark:bg-gray-800 top-16
      {{if this.showMenu 'flex' 'hidden'}}"
  >
    {{#each this.menuItems as |item|}}
      <LinkTo
        @route={{item.route}}
        @activeClass="text-orange-500 dark:text-orange-500"
        class="flex items-center justify-start w-full p-4 border-b border-gray-300 hover:bg-gray-100 dark:border-slate-600 dark:text-slate-300 dark:hover:bg-slate-700"
      >
        <Icon @name={{item.icon}} class="mr-4" />
        {{item.title}}
      </LinkTo>
    {{/each}}
  </div>
{{/if}}