<Form
  @model={{@model}}
  @validation={{this.formValidations}}
  @onSubmit={{this.onSubmit}}
  class="flex flex-col gap-4"
  as |form|
>
  <div class="col-span-6 dark:text-slate-300">
    <h1 class="pb-3 text-2xl font-semibold">
      {{t "header_title.programs.create"}}
    </h1>
  </div>

  <ValidatedInput
    @label={{t "programs.create.name"}}
    @placeholder={{t "programs.create.name.placeholder"}}
    @changeset={{form.changeset}}
    @valuePath="name"
  />
  <ValidatedInput
    @label={{t "label.targetTemperature"}}
    @type="number"
    step="0.25"
    @placeholder={{t "placeholder.targetTemperature"}}
    @changeset={{form.changeset}}
    @valuePath="targetTemperature"
  />
  <ValidatedInput
    @label={{t "label.startTime"}}
    @type="time"
    @changeset={{form.changeset}}
    @valuePath="startTime"
  />
  <ValidatedInput
    @label={{t "label.endTime"}}
    @type="time"
    @changeset={{form.changeset}}
    @valuePath="endTime"
  />
  <label for="isActive">
    <Input
      id="isActive"
      @type="checkbox"
      @checked={{form.changeset.isActive}}
      @onChange={{fn
        (mut form.changeset.isActive)
        (not form.changeset.isActive)
      }}
    />
    {{t "label.is-active"}}
  </label>

  <Weekdays @model={{form.changeset}} @label="Dagen" />

  <div class="flex justify-between gap-4">
    <Button {{on "click" (fn this.deleteProgram @model)}}>
      {{t "label.delete"}}
    </Button>
    <Button @type="submit" @disabled={{form.changeset.isInvalid}}>
      {{t "label.save"}}
    </Button>
  </div>

</Form>