{{#if @route}}
  <LinkTo
    @route={{@route}}
    class='bg-orange-600 items-center border border-transparent rounded-md shadow-sm inline-flex justify-center text-sm font-medium text-white hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500 disabled:opacity-50 disabled:cursor-not-allowed
      {{this.sizeClasses}}'
    ...attributes
  >
    {{yield}}
  </LinkTo>
{{else}}
  <button
    type={{this.type}}
    disabled={{@disabled}}
    class='bg-orange-600 items-center border border-transparent rounded-md shadow-sm inline-flex justify-center text-sm font-medium text-white hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500 disabled:opacity-50 disabled:cursor-not-allowed
      {{this.sizeClasses}}'
    ...attributes
  >
    {{#if @isLoading}}
      <FaIcon @icon='spinner' class='animate-spin mr-3' />
    {{/if}}

    {{yield}}

  </button>
{{/if}}