<div ...attributes>
  <Label @id={{@id}}>
    {{@label}}
  </Label>
  {{#if this.hasError}}
    <InputErrorMessage @message={{t this.errorMessage}} />
  {{/if}}
  <Input
    id={{@id}}
    @type={{@type}}
    placeholder={{@placeholder}}
    class="mt-1 block w-full border rounded-md shadow-sm py-2 px-3 focus:outline-none sm:text-sm dark:bg-slate-700 dark:text-slate-300 dark:border-slate-600
      {{this.borderClasses}}"
    @checked={{@checked}}
    autocomplete={{@autocomplete}}
    @disabled={{@disabled}}
    autofocus={{@autofocus}}
    tabindex="{{@tabindex}}"
    @value={{get @changeset @valuePath}}
    pattern={{@pattern}}
    {{on "blur" this.handleOnBlur}}
    ...attributes
  />
</div>