{{page-title "Dashboard"}}
<div class="flex flex-col justify-between h-full">
  <Widget::Status
    @currentTemperature={{@model.currentTemperature}}
    @targetTemperature={{@model.targetTemperature}}
    @unit={{"°C"}}
    @program={{@model.currentProgram}}
    @heaterState={{true}}
  />
  <Widget::ActionButtons />
</div>