<Form
  @model={{@model}}
  @validation={{this.formValidations}}
  @onSubmit={{this.onSubmit}}
  class="flex flex-col gap-4"
  as |form|
>
  <div class="col-span-6 dark:text-slate-300">
    <h1 class="pb-3 text-2xl font-semibold">
      {{t "header_title.settings"}}
    </h1>
    <p>{{t "settings_description"}}</p>
  </div>

  {{#if this.showSuccessMessage}}
    <FlashMessage>
      {{t "thermostat.update.success"}}
    </FlashMessage>
  {{/if}}

  <ValidatedInput
    @changeset={{form.changeset}}
    @id="name"
    @type="text"
    @label={{t "label.name"}}
    @placeholder={{t "placeholder.thermostat-name"}}
    @autocomplete=""
    @valuePath="name"
  />
  <ValidatedInput
    @changeset={{form.changeset}}
    @id="min-temp"
    @type="number"
    @label={{t "label.min-temp"}}
    @placeholder={{t "placeholder.min-temp"}}
    @valuePath="minTemperature"
  />

  <label
    for="isActive"
    class="block mt-1 text-sm font-medium text-gray-700 dark:text-slate-400"
  >
    <Input
      id="isActive"
      @type="checkbox"
      @checked={{form.changeset.isActive}}
      @onChange={{fn
        (mut form.changeset.isActive)
        (not form.changeset.isActive)
      }}
    />
    {{t "label.is-active"}}
  </label>
  <div class="flex justify-between">
    <Button
      @type="submit"
      @isLoading={{form.isLoading}}
      @disabled={{or form.changeset.isInvalid}}
      class="col-span-6"
    >
      {{t "button.save"}}
    </Button>

  </div>

  <h2 class="pb-3 mt-6 text-xl font-semibold dark:text-slate-300">
    {{t "header_title.connection"}}
  </h2>

  <div
    class="flex w-full px-3 py-2 mt-1 border rounded-md shadow-sm focus:outline-none sm:text-sm dark:bg-slate-700 dark:text-slate-300 dark:border-slate-600"
  >
    <Label @id={{@id}}>
      {{t "label.endpoint"}}
    </Label>
    <pre>
      {{concat
        "https://thermos-api.thomasvanderwesten.nl/api/v1/thermostats/"
        @model.id
        "/-actions/sync"
      }}
    </pre>
  </div>

  <div
    class="flex w-full px-3 py-2 mt-1 border rounded-md shadow-sm focus:outline-none sm:text-sm dark:bg-slate-700 dark:text-slate-300 dark:border-slate-600"
  >
    <Label @id={{@id}}>
      {{t "label.token"}}
    </Label>

    <pre>
      {{@model.token}}
    </pre>
  </div>
</Form>