<div class="flex justify-center">
  <Form {{on "submit" this.handleSave}}>
    <div class="col-span-6 dark:text-slate-300">
      <h1 class="pb-3 text-2xl font-semibold">
        {{t "header_title.settings"}}
      </h1>
      <p>{{t "settings_description"}}</p>
    </div>
    <div class="col-span-6">
      <ValidatedInput
        @changeset={{this.changeset}}
        @id="name"
        @type="text"
        @label={{t "label.name"}}
        @placeholder={{t "placeholder.thermostat-name"}}
        @autocomplete=""
        @valuePath="name"
      />
    </div>
    <div class="col-span-6">
      <ValidatedInput
        @changeset={{this.changeset}}
        @id="min-temp"
        @type="number"
        @label={{t "label.min-temp"}}
        @placeholder={{t "placeholder.min-temp"}}
        @valuePath="minTemperature"
      />
    </div>
    <div class="flex justify-between">
      <Button
        @type="submit"
        @isLoading={{this.isLoading}}
        @disabled={{or this.changeset.isInvalid}}
        class="col-span-6"
      >
        {{t "button.save"}}
      </Button>

    </div>
  </Form>
</div>