<div class="flex justify-center">
  <Form
    @model={{@model}}
    @validations={{this.formValidations}}
    @onSubmit={{this.handleLogin}}
    class="flex flex-col gap-6"
    as |form|
  >
    <div class="col-span-6 dark:text-slate-300">
      <h1 class="pb-3 text-2xl font-semibold">
        {{t "header_title.login"}}
      </h1>
      <p>{{t "login_message" register_url="/register" htmlSafe=true}}</p>
    </div>

    <ValidatedInput
      @changeset={{form.changeset}}
      @id="email"
      @type="text"
      @label={{t "label.email"}}
      @placeholder={{t "placeholder.email"}}
      @autocomplete="current-email"
      @valuePath="email"
    />

    <ValidatedInput
      @changeset={{form.changeset}}
      @id="password"
      @type="password"
      @label={{t "label.password"}}
      @placeholder={{t "placeholder.password"}}
      @autocomplete="current-password"
      @valuePath="password"
    />

    <Button
      @type="submit"
      @isLoading={{form.isLoading}}
      @disabled={{form.isInvalid}}
      class="col-span-6"
    >
      {{t "button.login"}}
    </Button>

  </Form>
</div>