<div class="flex justify-center">
  <Form
    @onSubmit={{this.handleSubmit}}
    @model={{this.changeset}}
    class="flex flex-col gap-6"
  >
    <div class="col-span-6">
      <h1 class="pb-3 text-2xl font-bold">{{t "header_title.register"}}</h1>
      <p>{{t "register_message"}}</p>
    </div>

    <div class="col-span-6">
      <ValidatedInput
        @changeset={{this.changeset}}
        @id="name"
        @type="text"
        @label={{t "label.unit.name"}}
        @placeholder={{t "placeholder.unit.name"}}
        @autocomplete="current-email"
        @valuePath="name"
      />
    </div>
    <div class="col-span-6">
      <ValidatedInput
        @changeset={{this.changeset}}
        @id="email"
        @type="text"
        @label={{t "label.email"}}
        @placeholder={{t "placeholder.email"}}
        @autocomplete="current-email"
        @valuePath="email"
      />
    </div>
    <div class="col-span-6">
      <ValidatedInput
        @changeset={{this.changeset}}
        @id="password"
        @type="password"
        @label={{t "label.password"}}
        @placeholder={{t "placeholder.password"}}
        @autocomplete="current-password"
        @valuePath="password"
      />
    </div>

    <div class="flex justify-between">
      <Button
        @type="submit"
        @isLoading={{false}}
        @disabled={{or this.changeset.isInvalid this.changeset.isPristine}}
        class="col-span-6"
      >
        {{t "button.register"}}
      </Button>

    </div>
  </Form>
</div>